<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OnlineTrainingandPlacement</display-name>

	<servlet>
		<description>
		</description>
		<display-name>DownloadCriteriaList</display-name>
		<servlet-name>DownloadCriteriaList</servlet-name>
		<servlet-class>tps.DownloadCriteriaList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadPlacementPapers</display-name>
		<servlet-name>DownloadPlacementPapers</servlet-name>
		<servlet-class>tps.DownloadPlacementPapers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadFile</display-name>
		<servlet-name>DownloadFile</servlet-name>
		<servlet-class>
		tps.DownloadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadCriteriaList</servlet-name>
		<url-pattern>/DownloadCriteriaList.com</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadPlacementPapers</servlet-name>
		<url-pattern>/DownloadPlacementPapers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFile</servlet-name>
		<url-pattern>/DownloadFile.com</url-pattern>
	</servlet-mapping>
	<context-param>
	<param-name>pdf-dir</param-name>
	<param-value>C://Users//GS-1226//Sangramsing//Projects//DemoProjects//OnlineTrainingandPlacement//WebContent//PdfDoc//</param-value>
	</context-param>
	<context-param>
	<param-name>filedir</param-name>
	<param-value>C://Users//GS-1226//Sangramsing//Projects//DemoProjects//OnlineTrainingandPlacement//WebContent//images//StudentResume//</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
		
</web-app>
